body
{
  margin: 10px 0 ;
  padding: 0 ;
  text-align: center ;
  font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
	background: #dea ;
}

 body h1 {
    font-size: 200%; 
 color: navy; 
 text-align: center;
    Font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif 
}

h2 {
    font-size: 200%; 
    color: navy; 
    text-align: center;
       Font-family: Helvetica, Geneva, Arial,
             SunSans-Regular, sans-serif }
}



















